.select{
    font-size: 15px;
}

table {
    width: 98%;
    margin: auto;
  }

.lista{
    width: 50px;
}

.nombre{
    width: 100px;
}

.apellido{
    width: 150px;
}

.notas {
    width: 30px;
}

.pointer{
    cursor: pointer;
}

.busqueda{
    margin-left: 10px;
}

.select{
    margin-left: 20px;
  }

mat-toolbar .btn-alumno{
    display: none!important;
}
