
<span>{{titulo}}</span>
<span class="example-spacer"></span>

<!-- <div class="page__section">
    <nav class="breadcrumb breadcrumb_type1" aria-label="Breadcrumb">
        <ol class="breadcrumb__list r-list">
            <li class="breadcrumb__group">
                <a href="" class="breadcrumb__point r-link">Home</a>
                <span class="breadcrumb__divider" aria-hidden="true">/</span>
            </li>
            <li class="breadcrumb__group">
                <a href="" class="breadcrumb__point r-link">Blog</a>
                <span class="breadcrumb__divider" aria-hidden="true">/</span>
            </li>
            <li class="breadcrumb__group">
                <span class="breadcrumb__point" aria-current="page">Single post</span>
            </li>
        </ol>
    </nav>
</div> -->